* {
  font-family: 'Poppins', sans-serif;
}

.link:hover::after {
  width: 100%;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin: auto;
  transition: all 200ms ease-in;
  background-color: #e01028 !important;
}
